venv/

.env

__pycache__/
*/__pycache__/

.vscode/

.azure/
.gradle/

build/
bin/
out/

# Gradle - mas manter o wrapper
.gradle/
gradle/*
!gradle/wrapper/
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

.idea/
.vscode/
*.iml
*.ipr
*.iws
temp_extract/

.DS_Store
Thumbs.db